html {
    font-size: 14px;
}

body {
  line-height: 1.4;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
}


h5, h6 {
    font-weight: bold;
}

#write {
  max-width: unset;
}

@media only screen and (min-width: 1400px) {
  #write { max-width: unset; }
}

table {
  width: unset;
}
